button {
    color: blue;
    background-color:rgb(255, 255, 21);
    font-weight: bolder;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma;
}

p {
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma;
}

div {
    padding: 15px;
    margin-left: 1800px;
    margin-right: 1800px;
    margin-bottom: 20px;
    border: 30px;
    text-align: center;
    background-color: rgb(133, 133, 163);
}

.index {
    padding: 15px;
    text-align: center;
    margin: 5px;
    background-color: rgb(133, 133, 163);
}

body {
    background-color: teal;
}